.box-flag {
    display: flex;
}

.lenguage {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 15px;
}

.button1 {
    font-size: 15px;
    margin: 5px;
    color: white;
    padding: 10px;
    background-color: #835AA1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover {
    background-color: #ffffff;
    color: #835AA1;
    font-weight: 600;
    border: 2px solid #835AA1;
}

.button2 {
    font-size: 15px;
    margin: 5px;
    color: #835AA1;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #835AA1;
    border-radius: 5px;
    cursor: pointer;

}

.button2:hover {
    background-color: #835AA1;
    color: white;
    font-size: 15px;
}

.box-button {
    margin: 20px;
}

.display {
    display: flex;
    justify-content: center;
}

.container-content {
    max-width: 300px;
    padding: 0px !important;
    border: 2px solid #379B9C;
    position: absolute;
    border-radius: 99px 0px 98px 0px;
    -moz-border-radius: 99px 0px 98px 0px;
    -webkit-border-radius: 99px 0px 98px 0px;
    border: 2px solid #379B9C;
}

.tittle {
    font-weight: 800;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
   
}

.container-tittle {
    background-color: #379B9C;
    border-radius: 99px 0px 0px 0px;
    -moz-border-radius: 99px 0px 0px 0px;
    -webkit-border-radius: 99px 0px 0px 0px;
    border: 11px solid #379B9C;
    position: relative;
    top: -6px;
    left: 0px;
}

.text {
    color: #29294A;
    font-size: 15px;

}

.container-photo {
    display: flex;
    justify-content: center;
}
.photo {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    background-color: #009688;
}

img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.container-info {
    margin: 30px;
}

.caption {
    font-size: 14px;
    font-weight: 500;
}

.name {
    color: #009688;
    font-weight: bold;
}